.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

footer {
    flex: 1;
    display: block;
    padding-bottom: 2%;
}

.footer {
    margin-top: 2%;
    display: block;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-bottom: 2%;
}

.card-column {
    width: 50%;
}