.container {
    flex: 1;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #dedede;
    margin-bottom: 5%;
    color: black;
}

.doing {
    color: white;
    background-color: #0089D7;
    margin-top: 2%;
    border-end-end-radius: 0%;
}

.btn-edit {
    background-color: #0089D7;
    color: white;
}

.title {
    font-size: 200%;
}

.btn-save {
    background-color: #0089D7;
    color: white;
    margin-left: 2%;
}

input {
    width: 100%;
    padding: 3%;
    margin: 2% 0;
    box-sizing: border-box;
    border: 2px solid #0089D7;
    border-radius: 0.5rem;
    outline: none;
}

textarea {
    width: 100%;
    margin: 2% 0;
    box-sizing: border-box;
    height: 8em;
    border: 2px solid #0089D7;
    border-radius: 0.5rem;
    outline: none;
}

.mini-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}